output_name = "Test d'un PDF"
slug: waka.snappypdf.test
==
<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ 'themes/wakawind/assets/css/theme.css' | app }}">
        <script src="{{ 'themes/wakawind/assets/javascript/theme.js' | app }}"></script>
    </head>
    <body>
        <div class="btn btn-accent">
            COIN
        </div>
        <p class="text-red-500">Salut ! {{ name }}</p>
        <p class="text-red-500">{{ 'themes/wakawind/assets/css/theme.css' | app }}</p>
    </body>
</html>